// 头部高度
@header-height: 50px;
@box-shadow: rgba(17, 17, 26, .05) 0 1px 0, rgba(17, 17, 26, .1) 0 0 8px;
@box-shadow-black: rgba(14, 30, 37, .12) 0 2px 4px 0, rgba(14, 30, 37, .32) 0 2px 16px 0;
// 黑色字体样式
@black-bold: 'black-bold';
// 边框灰色
@border-gray: #f0f0f0;

#color() {
    success: #07c160;
    danger: #ee0a24;
    warn: #ff976a;
    white: #fff;
    black: #000;
    primary: #1890ff;
    wechat: #07c160;
}

#text-size() {
    sm: 14px;
    md: 16px;
    lg: 18px;
    xl: 20px;
    xxl: 22px;
    xxxl: 24px;
}

#text-color() {
    black: #323233;
    secondary: #969799;
    disabled: #c8c9cc;
    link: #576b95;
    white: #fff;
}
